/*semicirculo*/
.formulariomenu {
    width: 90%;
    /* Cambiado a porcentaje para hacerlo responsive */
    max-width: 620px;
    /* Ancho máximo */
    height: 65vh;
    /* Cambiado a auto para hacerlo responsive */
    border-radius: 46% 46% 0 0;
    /* Simplificado para círculo perfecto */
    background: #E8E8E8;
    padding: 30px;
    margin: 100px auto;
    /* Centrar vertical y horizontalmente */
    color: black;
    text-align: center;
    position: relative;
}

.bienvenido {
    position: absolute;
    text-align: center;
    color: black;
    padding: 0px;
    width: 50%;
    /* Cambiado a porcentaje */
    left: 25%;
    /* Centrado horizontalmente */
    top: 40%;
    /* Ajustado verticalmente */
    font-size: 2vw;
    /* Tamaño de fuente responsive */
}

.queharas {
    position: absolute;
    text-align: center;
    color: black;
    padding: 0px;
    width: 50%;
    /* Cambiado a porcentaje */
    left: 25%;
    /* Centrado horizontalmente */
    font-size: 1vw;
    /* Tamaño de fuente responsive */
    top: 50%;
    /* Ajustado verticalmente */
}


.imagenes {
    width: 90%;
    /* Cambiado a porcentaje */
    margin: auto;
    /* Centrado horizontalmente */
    display: flex;
    /* Cambiado a flex para alinear elementos */
    justify-content: space-around;
    /* Espacio uniforme entre elementos */
    align-items: center;
    /* Alinear verticalmente */
}

.reporte {
    width: 30%;
    /* Cambiado a porcentaje */
    text-align: center;
    position: absolute;
    /* Cambiado a relative para mover verticalmente */
    top: 60%;
    /* Ajustado verticalmente */
    cursor: pointer;
}

.texto2 {
    width: 80%;
    /* Cambiado a porcentaje */
    margin: auto;
    /* Centrado horizontalmente */
    display: flex;
    /* Cambiado a flex para alinear elementos */
    justify-content: space-between;
    /* Espacio uniforme entre elementos */
    align-items: center;
    /* Alinear verticalmente */
    position: absolute;
    /* Cambiado a relative para mover verticalmente */
    top: 80%;
    /* Ajustado verticalmente */
    left: 39%;
}

.zelda {
    color: black
}

.zelda:hover {
    text-decoration: none;
    cursor: pointer;
    color: grey;
}

a {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    .bienvenido {
        font-size: 5vw;
        /* Tamaño de fuente responsive para pantallas pequeñas */
    }

    .queharas {
        font-size: 3vw;
        /* Tamaño de fuente responsive para pantallas pequeñas */
    }

    .reporte {
        font-size: 5vw;
        /* Tamaño de fuente responsive para pantallas pequeñas */
    }

    .texto2 {
        font-size: 5vw;
        /* Tamaño de fuente responsive para pantallas pequeñas */
        text-align: center;
    }


}