.footer {
  position: fixed;
  bottom: -100px; /* Oculta el footer por defecto */
  left: 0;
  width: 100%;
  height: 200px; /* Ajusta la altura del footer */
  background-color: #E8E8E8;
  color: black;
  text-align: center;
  z-index: 9999;
  transition: bottom 0.15s; /* Ajusta la duración de la transición*/
}

.footer.visible {
  bottom: 0; /* Muestra el footer cuando está visible */
}